[submodule "third_party/cjson"]
	path = third_party/cjson
	url = https://github.com/stefanoroverato/cJSON.git
[submodule "third_party/mxml"]
	path = third_party/mxml
	url = https://github.com/stefanoroverato/mxml.git
[submodule "third_party/s7commplus"]
	path = third_party/s7commplus
	url = https://github.com/stefanoroverato/S7CommPlusDriver.git
